{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/git",
    "@semantic-release/changelog",
    "@semantic-release/commit-analyzer",
    ["@semantic-release/exec",
    {
      "successCmd": "echo \"version=${lastRelease.version}\" >> $GITHUB_OUTPUT"
    }],
    "@semantic-release/github"
  ]
}
