{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/git",
    "@semantic-release/changelog",
    "@semantic-release/github",
    ["@semantic-release/exec",
    {
      "success": "echo \"version=releases\" >> $GITHUB_OUTPUT"
    }]
  ]
}
