{
  "branches": [
    "main",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "dev",
      "prerelease": true
    },
    {
      "name": "staging",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/exec",
    {
      "analyzeCommitsCmd": "echo \"version=${lastRelease.version}\" >> $GITHUB_OUTPUT",
      "verifyReleaseCmd": "echo \"version=${nextRelease.version}\" >> $GITHUB_OUTPUT"
    }],
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
